# Ignore data directories
data/aemo_data/
data/raw_data_cache/
data/concatenated_data/


__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb
*.ipynb_checkpoints
.DS_Store
.env
.venv
venv/
env/
.vscode/
.idea/
.git/
.github/
.gitignore
# README.md # Readme should be included in the image
*.log
*.bak
*.swp
*.tmp
*.cache
*.egg-info/
dist/
build/
archive/

